.container {
    display: flex;
    flex-direction: column;
    align-items:flex-start;
    justify-content: center;
    height: 100vh;
    width: 50vh;
    padding: 20px;
    font-family: Arial, sans-serif;
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
    transition: background-color 0.3s ease, color 0.3s ease;
}

.panel-facts{
    font-size: small;
}

.container.light {
    background-color: #F6F6F6;
    color: #000000;
}

h1 {
    font-size: 24px;
    font-weight: bold;
    margin-bottom: 20px;
}

label {
    font-size: 14px;
    margin-bottom: 8px;
    display: block;
}

.container.dark {
    background-color: #161616;
    color: #ffffff;
}

input {
    width: 300px;
    padding: 10px;
    font-size: 16px;
    border: 1px solid #ccc;
    border-radius: 5px;
    margin-bottom: 15px;
    transition: background-color 0.3s ease, color 0.3s ease;
}

.container.light input {
    background-color: #ffffff;
    color: #000000;
}

.container.dark input {
    background-color: #000000;
    color: #ffffff;
    border: 1px solid #444;
}

button {
    padding: 10px 20px;
    font-size: 16px;
    font-weight: bold;
    color: #000;
    background-color: #fff;
    border: 2px solid #000;
    border-radius: 50px;
    cursor: pointer;
    box-shadow: 2px 2px 5px rgba(0, 0, 0, 0.1);
    transition: background-color 0.3s ease, color 0.3s ease;
}

.container.light button:hover {
    background-color: #000; 
    color: #fff; 
    border-color: #000; 
    box-shadow: 7px 7px 15px rgba(0, 0, 0, 0.6);
}

.container.dark button:hover{
    background-color: #F6F6F6; 
    color: #000; 
    border-color: #000;
    box-shadow: 7px 7px 15px rgba(0, 0, 0, 0.6);

}

.container.light button {
    background-color: #ffffff;
    color: #000000;
}

.container.dark button {
    background-color: #1e1e1e;
    color: #ffffff;
    border: 2px solid #ffffff;
}

h2 {
    font-size: 18px;
    font-weight: bold;
    margin-top: 15px;
}

.error {
    color: red;
}

.toggle-container {
    width: 60px;
    height: 30px;
    border-radius: 15px;
    display: flex;
    align-items: center;
    padding: 2px;
    cursor: pointer;
    transition: background-color 0.3s ease-in-out;
    position: relative;
    margin-top: 20px;
}

.toggle-container.light {
    background-color: #a7daec;
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
}

.toggle-container.dark {
    background-color: #3f3f3f;
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.5);
}

.toggle-circle {
    width: 26px;
    height: 26px;
    border-radius: 50%;
    
    display: flex;
    align-items: center;
    justify-content: center;
    transition: transform 0.3s ease-in-out;
}

.toggle-container.light .toggle-circle {
    background-color: #ffd700; 
    color: #000000;
    box-shadow: 0 0 6px 3px rgba(255, 215, 0, 0.8);
    animation: shine 10s infinite alternate;
    
}

.toggle-container.light::after {
    content: '☁ \A☁ ☁'; 
    font-size: 10px;
    position: absolute;
    right: 8px; 
    top: 10%;
    transform: translateY(-50%);
    white-space: pre;
    line-height: 1.2;
    color: #f0f8f5; 
    animation: float 1.25s infinite alternate; 
}

.toggle-container.dark .toggle-circle {
    background-color: #474747;
    color: #333333;
    box-shadow: 0 0 6px 3px rgba(255,255,255,.8);
    animation: moonGlow 8s infinite alternate;
}

.move-right {
    transform: translateX(30px);
}

.toggle-container.dark::before {
    content: '✦ \A✧ ✦'; 
    font-size: 10px;
    position: absolute;
    left: 8px;
    top: 50%;
    transform: translateY(-50%) ;
    white-space: pre;
    line-height: 1.2;
    color: #ffffff;
    animation: twinkle 1.5s infinite alternate;
}

@keyframes twinkle {
    0% {
        opacity: 0.8;
    }
    100% {
        opacity: 0.2;
    }
}

@keyframes shine {
    0% {
        box-shadow: 0 0 5px 2px rgba(255, 215, 0, 0.2);
    }
    100% {
        box-shadow: 0 0 6px 3px rgba(255, 215, 0, 0.8); 
    }
}

@keyframes moonGlow {
    0% {
        box-shadow: 0 0 5px 2px rgba(255, 255, 255, 0.2);
    }
    
    100% {
        box-shadow: 0 0 6px 3px rgba(255, 255, 255, 0.8); 
    }
}

@keyframes float {
    0% {
        transform: translateY(-1.5px);
    }
    100% {
        transform: translateY(1.5px);
    }
}

@media (max-width: 800px) {
    .container {
        width: 100%;
        padding: 10px; 
        margin: 0 auto; 
        overflow: hidden; 
    }

    h1 {
        font-size: 20px; 
        text-align: center; 
    }

    h2 {
        font-size: 16px;
        margin-top: 10px;
        text-align: center;
    }

    label {
        font-size: 12px; 
        text-align: center;
        margin-bottom: 5px;
    }

    input {
        width: 75%; 
        padding: 10px; 
        max-width: none;
        font-size: 14px; 
    }

    button {
        font-size: 14px; 
        padding: 8px 16px; 
        align-self: center; 
        box-shadow: none; 
    }

    .toggle-container {
        width: 50px; 
        height: 25px;
        margin: 15px auto; 
        padding: 2px;
    }

    .toggle-circle {
        width: 22px; 
        height: 22px;
    }

    .toggle-container.light::after,
    .toggle-container.dark::before {
        font-size: 8px; 
        line-height: 1; 
    }

    .panel-facts {
        font-size: 12px; 
        padding-top: 5px; 
    }

    .container.light,
    .container.dark {
        align-items: flex-start; 
        justify-content: flex-start; 
    }

    body {
        overflow-x: hidden; 
    }
}