#root {
  max-width: 1280px;
  margin: 0 auto;
  padding: 2rem;
  text-align: center;
}

.split-container {
  display: flex;
  flex-direction: row;
  width: 100%;
  height: 100vh; 
  gap: 20px; 
  justify-content: center;
  align-items: center; 
  
}
.panel-fact{
  font: 16px;
}
.spectrum-container {
  display: flex;
  flex-direction: column;
  justify-content: center; 
  align-items: flex-start; 

  padding: 20px;
  height: 100vh; 
  
  box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
}


.spectrum-heading {
  font-size: 24px;
  font-weight: bold;
}
.spectrum-input input {
  width: 300px; 
  font-size: 16px;
}

.split-panel {
  flex: 1; 

  display: flex;
  flex-direction: column;
  align-items: center;
  /* border-radius: 10px; */

  box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
}

.spectrum-panel {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content:center;
  height: 100vh;
  width: 50vh;
  box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
}

@media (max-width: 800px) {
  .split-container {
      flex-direction: column; 
  }

  .split-panel {
      width: 100%; 
      padding: 10px;
      overflow: hidden;
  }
  .spectrum-container{
    padding: 10px;
    overflow: hidden;
  }
  .spectrum-panel{
    width: 100%;
    overflow: hidden;
  }
  .panel-fact{
    padding-top: 5px;
  }
}